{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalKB</title>
    <link rel="stylesheet" href="{% static 'Styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/addNote.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/noteCard.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/fullscreenBackground.css' %}">
    <link rel="stylesheet" href="{% static 'Scripts/tinymce/skins/ui/oxide/content.min.css' %}">
    <link rel="stylesheet" href="{% static 'Scripts/tinymce/skins/ui/oxide/content.inline.min.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/sweetalert2/sweetalert2.min.css' %}">
</head>
<body>
    <div class="navbar-container">
        <div class="container"></div>
        
        <div class="container flexCenter">
            <div class="navbar-inputContainer">
                <input type="text" id="navBar-searchInput" placeholder="Wyszukaj"/>
            </div>
        </div>
        
        <div class="container flexEnd">
            <div class="navBar-buttonsContainer">
                <div class="navBar-addButton">
                    <img src="{% static '/Icons/add.svg' %}" >
                </div> 
            </div> 
        </div>
        


 
    </div>

    <div class="testContainer">
        <div class="main-container"></div>
    </div>




    <script src="{% static 'Scripts/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'Scripts/sweetalert2/sweetalert2.all.min.js' %}"></script>

    <script src="{% static 'Scripts/api/api.js' %}"></script>

    <script src="{% static 'Scripts/ui/createNoteCard.js' %}"></script>
    <script src="{% static 'Scripts/ui/createFullscreenContainer.js' %}"></script>
    <script src="{% static 'Scripts/ui/createFullscreenNavBar.js' %}"></script>

    <script src="{% static 'Scripts/utils.js' %}" ></script>
    <script src="{% static 'Scripts/textEditor.js' %}" ></script>
    <script src="{% static 'Scripts/noteEditor.js' %}" ></script>
    <script src="{% static 'Scripts/noteCard.js' %}" ></script>
    <script src="{% static 'Scripts/main.js' %}" ></script>
</body>
</html>